.page-container{
    margin: auto;
    /*background-color:#722222;*/
    width:80%;
    text-align:center;
    padding:7px;
    height: 100%;
}
.form-container{
    margin:auto;
    /*background-color:#7ccc82;*/
    width:30%;
    text-align:center;
    padding:2px;
}
.table-container{
    margin:auto;
    /*background-color:#7ccc82;*/
    width:70%;
    text-align:center;
    padding:2px;
    height:100%;
}
.text-box{
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height:40px;
    background-color: rgb(226, 224, 224);
    border:0.5px black solid;
}
.btn{
    width:50%;
    margin-top: 20px;
    min-height:40px;
    border-radius: 10px;
    border:0.5px black solid;
}
